@font-face{
    font-family: LatoLight;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face{
    font-family: LatoBlack;
    src: url(../fonts/Lato-Black.ttf);
}
        
body{
    font-family: LatoLight;
}

main{
    text-align: center;
}

main h1{
    font-weight:900;
    letter-spacing: 4px;
}

.green-logo {
  color: white;
  background: #00D0A0;
  padding: 0 10px;
  font-style: italic;
}

.green-logo span {
  margin-left: -15px;
}

.green-logo .line {
  background: #fff;
    height: 52px;
    width: 5px;
    position: absolute;
    top: 0;
    left: 93px;
    transform: rotate(32deg);
}   
#logo-section {
    font-weight:900;
    font-family: LatoBlack;
  border: 5px solid #00D0A0;
    background: #FFF;
  color: #00D0A0;
      display: inline-block;
  margin-bottom: 50px;
    font-weight:900;
  font-size: 50px;
  position: relative;
}
header {
  width: 100%;
    color: green;
    height: 50vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;}
  header h1#logo {
        display: inline-block;
    line-height: 81vh;
    height: 150px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 15vh;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  width: 100vw;
    text-align: center;
    color: green;
    height: 50vh;}
  header nav {
    display: inline-block;
    float: right; }
    header nav a {
      line-height: 150px;
      margin-left: 20px;
      color: #9fdbfc;
      font-weight: 700;
      font-size: 18px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      header nav a:hover {
        color: white; }
  header.smaller {
    height: 75px; }
    header.smaller h1#logo {
      line-height: 130px;
      font-size: 30px; }
    header.smaller nav a {
      line-height: 75px; }
body .cd-nav-trigger, body .cd-nav *{
    z-index:999;   
}
